.darkBG {
    background: #999;
}

.darkerBG {
    background: #666;
}

.darkestBG {
    background: #333
}

.btn.sharp {
  border-radius:0;
}

.btn-lg.round {
    border-radius: 24px;
}

body {
    background-color: #999;
}